<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Lista</ion-title>
    <ion-buttons slot="start" class="conteiner--btn">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div>
    <ion-card>
      <ion-card-header color=warning>
      <center>  <ion-card-subtitle>Victor Rosendo</ion-card-subtitle> </center>
      <center>  <ion-card-title>Sección: 002D</ion-card-title> </center>
      </ion-card-header>
    </ion-card>
  </div>
  <div class="tabla">
  <table>
    <thead color="warning">
      <tr>
        <th>Estudiante</th><th>Asignatura</th><th>Fecha</th>
      </tr>
      
    </thead>
    <tbody>
      <tr>
        <td>Benjamin Vidal Plaza</td><td>Programación Web</td><td> 02/09/22</td>
      </tr>
      <tr>
        <td>Yzan Báez Carrasco</td><td>Programación Web</td><td> 02/09/22</td>
      </tr>
      <tr>
        <td>Alberto Vidal Castro</td><td>Programación Web</td><td> 02/09/22</td>
      </tr>
      <tr>
        <td>Martin Plaza </td><td>Programación Web</td><td> 02/09/22</td>
      </tr>
      
    </tbody>
  </table>
  </div>

</ion-content>
