
<ion-content>
  <div class="header">
    <h3>Bienvenido Denuevo, <span id="user-name">Benja</span></h3>
    <h1>Iniciar sesion<br>para continuar</h1>
  </div>
  
  <div class="form">
    <ion-input type="email" placeholder="Email" value="Benja@gmail.com"></ion-input>
    <ion-input type="password" placeholder="Contraseña"></ion-input>
  </div>

  <div class="button">
    Ingresar <ion-icon name="chevron-forward-outline"></ion-icon>
  </div>

  <div class="footer">
    <h3 [routerLink]="['/registrarse']">No tienes una cuenta? <span>Crea una</span></h3>
  </div>


</ion-content>
