<ion-header>
  <ion-toolbar color="warning">
    <ion-title>Horario</ion-title>
    <ion-buttons slot="start" class="conteiner--btn">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-back-button color="dark"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="tabla">
  <table>
    <thead color="warning">
      <tr>
        <th>Lunes</th><th>Miercoles</th><th>Viernes</th>
      </tr>
      
    </thead>
    <tbody>
      <tr>
        <td class="tamano">Aplicaciones Moviles</td><td>Arquitectura</td><td>Aplicaciones Moviles</td>
      </tr>
      <tr>
        <td class="tamano">Arquitectura</td><td>Estadistica</td><td>Aplicaciones Moviles</td>
      </tr>
      <tr>
        <td class="tamano">Estadistica</td><td>Calidad Software</td><td>Aplicaciones Moviles</td>
      </tr>
      <tr>
        <td class="tamano">Calidad Software</td><td>Moviles</td><td>Aplicaciones Moviles</td>
      </tr>
      
    </tbody>
  </table>
  </div>

</ion-content>
