<ion-header>
  <ion-toolbar color="warning">
    <ion-title>
      Universidad
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="auth-form">
  <div>
    <img src="/assets/icon/uni2.png" alt="">
  </div>

  <ion-grid>
    <ion-row>
      <ion-col align-self-center>
        <ion-button (click)="goToRegistro" expand="block" color="warning">Register</ion-button>

        <span class="divider line one-line">or</span>

        <span class="already">Already a user?</span>

        <ion-button [routerLink]="['/inicio-sesion']" expand="block" color="warning">Sign In</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
