<ion-header>
  <ion-toolbar color="warning">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding" >
  <div>
    <img src="/assets/icon/uni2.png" alt="">
  </div>


  <form #formulario="ngForm" (ngSubmit)="onSubmitTemplate()">

    <ion-list>
      <ion-item>
        <ion-label position="floating">Email</ion-label>
      <ion-input type="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@([A-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [(ngModel)]="usuario.email" 
        required ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
      <ion-input type="password" name="password"  [(ngModel)]="usuario.password" 
        required ></ion-input>
      </ion-item>
    </ion-list>

    <ion-button expand="full" type="submit"
    [disabled]="formulario.invalid" color="warning" [routerLink]="['/perfil-alumno']">Enviar</ion-button>
    <a [routerLink]="['/recuperar-contra']" class="small-text">Forgot Password?</a>
    

  </form>



</ion-content>
