<ion-header>
  <ion-toolbar color="warning"><ion-title>Recuperación</ion-title> 
    <ion-buttons slot="start">
    <ion-back-button color="dark"></ion-back-button>
  </ion-buttons></ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="ion-padding" >
    <div>
      <img src="/assets/icon/uni2.png" alt="">
    </div>
  <form>
    <ion-item lines="full">
      <ion-label class="label-color" position="floating">Email</ion-label>
      <ion-input  class="input-color" type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button class="letras--boton" color="warning" expand="block"  (click)="presentAlert()">Enviar correo de recuperación</ion-button>
      </ion-col>
    </ion-row>
    
      <p class="recuFont">Porfavor introduzca su correo para iniciar sesión.</p>

  </form>
</ion-content>
