<ion-header>
  <ion-toolbar color="warning"><ion-title>Recuperación de clave</ion-title> 
    <ion-buttons slot="start">
    <ion-back-button color="dark"></ion-back-button>
  </ion-buttons></ion-toolbar>
</ion-header>
<ion-content>
  <ion-content class="ion-padding" >
    <div>
      <img src="/assets/icon/uni2.png" alt="">
    </div>
  <form>
    <ion-item lines="full">
      <ion-label position="floating">Email</ion-label>
      <ion-input type="email" required></ion-input>
    </ion-item>
    <ion-row>
      <ion-col>
        <ion-button type="submit" color="warning" expand="block">Enviar</ion-button>
      </ion-col>
    </ion-row>
    <small>
      Porfavor introduzca su correo para iniciar sesion
    </small>
  </form>
</ion-content>
